#app {
    display: grid;
    grid-template-columns: 51.25% 48.75%;

    height: 100vh;
    overflow: hidden;

    @media(width <=64em) {
        display: flex;
        flex-direction: column-reverse;
        overflow: auto;
    }
}

main {
    overflow: auto;
    padding: 4rem;

    & .main-container {
        max-width: 33rem;
        margin-left: auto;
    }

    & .back {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1.5rem;
    }

    & h1 {
        font: 600 1.5rem/1.25 var(--font-family);
        margin-bottom: .5rem;
    }

    @media(width <= 64em) {
        overflow: visible;
        display: flex;
        justify-content: center;

        & .main-container {
            margin-left: 0;
        }
    }
    @media(width <= 26.625em) {
        padding: 2rem;
    }
}

aside {
    background-color: var(--surface-secondary);
    padding: 4rem;

    & .aside-container {
        max-width: 31rem;

        &>img {
            margin-top: 2rem;
        }
    }

    & h2 {
        font: 600 2.5rem/1.25 var(--font-family);
        margin-bottom: 0.5rem;

        & span {
            color: var(--text-highlight);
        }
    }

    @media(width <=64em) {
        padding: 2rem;

        & .aside-container {
            max-width: 100%;
            width: 100%;
            gap: 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &>img {
                width: 50%;
                height: 100%;
            }
        }
    }

    @media (width <=48em) {
        & .aside-container {
            flex-direction: column;
        }
    }

    @media (width <= 26.625em) {
        & .aside-container {
            gap: 1rem;

            >img {
                width: 11.25rem;
            }
        }

        & h2 {
            font: 600 1.5rem/1.25 var(--font-family)
        }
    }
}